<%- include('./partials/head') %>

<% if (usuarioLogueado === true) {%>
    <%- include('./partials/headerLogueado') %>
<%} else {%>
    <%- include('./partials/header') %>
<%}%>


<!-- <span class="container-detail">

    <span class="columna1">
        <h2 class="products-title">Adidas Samba</h2>
        <figure class="img-detail">
            <img src=/images/products/adidas-samba.png alt="producto">
        </figure>
    </span>
    
    <span class="columna2">
        <section >
              <h2>Adidas S</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit..</p>
              <p>Comentarios: <br>
                Buenisimas
              </p>
        </section>
    </span>

</span> -->

<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= productos [0] . nombre %></h2> 
        <p class="product-detail-description">
            <a href="/productos">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src=<%= productos [0] . imgUrl %> alt="" class="product-detail-img">
                <p class="product-detail-description">
                    Descripción corta del producto: <br>
                    <%= productos [0] . descripcion %>.</p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <article>
                        <img src="/images/users/user-pic.png"" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/profile"> <%= productos [0] . comments . usuario %> :</a> </strong>
                            <%= productos [0] . comments . Comentario %></p>
                        </div>
                    </article>
<!--                     <article>
                        <img src="/images/users/user-pic.png" alt="">
                        <div class="data">
                            <p class="user">
                            <strong> <a href="/users/profile">Nicolas: </a> </strong>
                             Texto del comentario que escribió el usuario.</p>
                        </div>
                    </article>
 -->
                </section>
                    
                    <form class="form" action="/productos/detail" method="POST">
                        <input class="form-input" type="text" value="" placeholder="Agrega tu comentario">
                        <button href="/prodctos/detail" type="submit" class="buy-now-button">
                            <a href="/productos/detail">COMENTAR</a>
                        </button>
                        
                    </form>

                <hr>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>


