<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
            <% if(obtuvimosResultados){%>
                <div class="col-12">
                    <h2 class="products-title">Estos son los resultados de tu busqueda "<%= busquedadelusuario %>"</h2>
                </div>
            </div>
            <div class="container products-wrapper">
                <%for(let i = 0; i < resultados.length ; i++){%>
                <div class="d-flex align-items-center">
                    <a href="/productos/detail/ <%- resultados[i].id %>">
                    <h2 class="products-title">"<%= resultados[i].nombre%>"</h2>
                </a>
            </div>
            <div class="product-detail">		
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                    <a href="/productos/detail">
                        <p class="product-detail-description"><%= resultados[i].descripcion %></p>
                </a>
                <a href="/users/profile">
                    <p class="product-detail-description"> Producto publicado por: "<%= resultados[i].usuarios%>"</p>
                </a>
                <%}%>
            </article>
            <%} else {%>
                <div class="col-12">
                    <h2 class="products-title"> No se encontro la palabra: "<%= busquedadelusuario %>"</h2>
                </div>
            </div>
            <%}%>

      

	<!-- footer -->
    <%- include('./partials/footer.ejs') %>